.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: max-content;
    background-color: #7a1515;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    font: 'Franklin Gothic Medium';
    font-style: italic;
}